@{
    ViewBag.Title = "Confirmation of Attendance";
}

<h2>Potvrdenie o návšteve strednej alebo vysokej školy</h2>
<p>na účely prídavku na dieťa</p>

<form method="post" action="/Home/GenerateXml">

    <fieldset>
        <legend>A. Údaje o oprávnenej osobe – žiadateľovi</legend>
        <div>
            <label for="surname">Priezvisko:</label>
            <input type="text" id="surname" name="surname" required />
        </div>
        <div>
            <label for="name">Meno:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div>
            <label for="birthNumber">Rodné číslo:</label>
            <input type="text" id="birthNumber" name="birthNumber" required />
        </div>
        <div>
            <input type="checkbox" id="permanentAddress" name="permanentAddress" />
            <label for="permanentAddress">Adresa trvalého pobytu v SR</label>
        </div>
        <div>
            <input type="checkbox" id="temporaryAddress" name="temporaryAddress" />
            <label for="temporaryAddress">Adresa prechodného pobytu v SR</label>
        </div>
        <div>
            <label for="street">Ulica:</label>
            <input type="text" id="street" name="street" required />
        </div>
        <div>
            <label for="postalCode">PSČ:</label>
            <input type="text" id="postalCode" name="postalCode" required />
        </div>
        <div>
            <label for="city">Obec:</label>
            <input type="text" id="city" name="city" required />
        </div>
    </fieldset>

    <fieldset>
        <legend>B. Údaje o dieťati</legend>
        <div>
            <label for="childSurname">Priezvisko:</label>
            <input type="text" id="childSurname" name="childSurname" required />
        </div>
        <div>
            <label for="childName">Meno:</label>
            <input type="text" id="childName" name="childName" required />
        </div>
        <div>
            <label for="childBirthDate">Dátum narodenia:</label>
            <input type="date" id="childBirthDate" name="childBirthDate" required />
        </div>
    </fieldset>

    <fieldset>
        <legend>C. Vyplní a potvrdí škola</legend>
        <div>
            <label for="schoolName">Názov školy:</label>
            <input type="text" id="schoolName" name="schoolName" value="Fakulta informatiky a informačných technológií, STU v Bratislave" readonly />
        </div>
        <div>
            <label for="schoolAddress">Sídlo školy:</label>
            <input type="text" id="schoolAddress" name="schoolAddress" value="Ilkovičova 2, 842 16 Bratislava" readonly />
        </div>
        <div>
            <label for="schoolYear">Školský rok:</label>
            <input type="text" id="schoolYear" name="schoolYear" value="2024/2025" readonly />
        </div>
        <div>
            <label for="grade">Ročník:</label>
            <input type="text" id="grade" name="grade" />
        </div>
        <div>
            <label>Prijatý na štúdium denné:</label>
            <input type="checkbox" id="fullTimeYes" name="fullTimeYes" />
            <label for="fullTimeYes">áno</label>
            <input type="checkbox" id="fullTimeNo" name="fullTimeNo" />
            <label for="fullTimeNo">nie</label>
        </div>
        <div>
            <label for="studyLevel">Zapísaný na VŠ štúdium stupeň:</label>
            <input type="checkbox" id="level1" name="level1" />
            <label for="level1">I.</label>
            <input type="checkbox" id="level2" name="level2" />
            <label for="level2">II.</label>
            <input type="checkbox" id="level3" name="level3" />
            <label for="level3">I. a II. spojeného</label>
        </div>
        <div>
            <label for="enrollmentDate">Dátum zápisu do ročníka:</label>
            <input type="date" id="enrollmentDate" name="enrollmentDate" value="2024-09-01" />
        </div>
        <div>
            <label for="academicYearStart">Začiatok akademického roka (uveďte dátum):</label>
            <input type="date" id="academicYearStart" name="academicYearStart" value="2024-09-01" />
        </div>
        <div>
            <label for="schoolWorkerName">Meno pracovníka školy, ktorý potvrdil:</label>
            <input type="text" id="schoolWorkerName" name="schoolWorkerName" />
        </div>
        <div>
            <label for="signatureDate">Dátum:</label>
            <input type="date" id="signatureDate" name="signatureDate" />
        </div>
        <div>
            <label for="signature">Podpis:</label>
            <input type="text" id="signature" name="signature" />
        </div>
        <div>
            <label for="schoolStamp">Pečiatka školy:</label>
            <input type="text" id="schoolStamp" name="schoolStamp" />
        </div>
    </fieldset>

    <button type="submit">Submit</button>
</form>

@if (TempData["ValidationError"] != null)
{
    <div style="color: red;">Validation Error: @TempData["ValidationError"]</div>
}
